/* GENERAL */

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

h3 {
  font-size: 3rem!important;
  margin-bottom: 10px!important;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow-x: hidden;
  height: auto;
}

a {
  color: white;
  text-decoration: none;
}

.bloc {
  text-align: center;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .paragraphe {
    text-align: justify!important;
  }
  
  .dropdown-menu{
    left: -100px!important;
  }

  .titre {
    width: 50%!important;
  }

  h3 {
    font-size: 1.5rem!important;
    font-weight: bold!important;
  }

  .typewriter-v2 {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }

  .button {
    top: 65%!important;
    left: 40%!important;
  }
}

/* HEADER */

#header {
  background: #2ec4b6;
  text-align: center;
}

.navMenu {
  background-color: black!important;
}

.navbar-dark .navbar-toggler {
  color: white!important;
  border-color: transparent!important;
}

.navbar .navbar-toggler .icon-bar{
  background-color: #ffffff !important;
}

path {
  stroke: white;
  stroke-width: 3;
}

.avatar {
  max-width: 128px;
  max-height: 175px;
  margin-right: 10px;
}

.avatar-mini {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.profile {
  display: inline-block!important;
}

.navbar-nav .dropdown-menu {
  position: absolute!important;
}

.drop {
  color: black!important;
}

/* ACCUEIL */

#bg {
  display: flex;
  background: #2ec4b6;
}

#bg .wrapper {
  margin: 50px auto;
}

.wrapper {
  width: 800px;
}

.button {
  margin-top: 30px;
}

#competences {
  background: #F6F8FA;
}

#projet {
  background: white;
}

.intitule {
  color: white;
  font-size: 10vh;
  margin-bottom: 10px;
}

.titre {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px #2ec4b6 solid;
  width: 20%;
  padding: 20px 20px;
  margin: 0 auto 30px auto;
}

.paragraphe {
  text-align: center;
  margin-bottom: 50px!important;
  /* margin: 50px auto 50px auto;
  width: 400px!important; */
}

/* FOOTER */

.phone {
  color: white;
}

.phone:hover {
  color: white;
  text-decoration: none;
}

.email {
  color: white;
}

.email:hover {
  color: white;
  text-decoration: none;
}

#footer{
  padding-top:20px;
  margin-top:20px;
  color:white;
  background-color: #6B979C;
  display:flex;
  flex-direction:column;
  align-items:center;
  height: 135px;
}

#contacts{
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:100%;
}

#contacts--contact{
  text-align:right;
}

#contacts--social{
  width:20%;
  display : flex;
  justify-content : space-between;
}

#contacts--social a{
  height:30px;
  width:30px;
  /* background-color:white; */
  border-radius:50%;
}

#contacts--social a .github{
  background-color:white;
}

#mentions p {
  font-size:0.7em;
}

/* EFFECT */

.avatar {
  position: relative;
  width: 100px;
  height: 100px;
  border: none;
  box-shadow: 0 0 0 0 white;
  border-radius: 50%;
  background-color: white;
  /* background-image: url(http:YOUR-URL-IMAGE.png); */
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 6s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 6s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 6s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 6s infinite cubic-bezier(0.66, 0, 0, 1);
}
.avatar:hover {
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

/* DEMO-SPECIFIC STYLES */
.typewriter {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}